In [1]:
import pandas as pd
import numpy as np

#--PART1:

In [2]:
# --1
crime_data = pd.read_csv("crime_data.csv")
crime_data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,8300 KELVIN AV,NaN,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,NaN,NaN,NaN,5800 W CENTURY BL,NaN,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,2900 LOS FELIZ BL,NaN,0.0000,0.0000

In [3]:
# --2
crime_data_cleaned = crime_data.copy()
crime_data_cleaned = crime_data_cleaned.loc[:, (crime_data_cleaned.isna().sum() /len(crime_data_cleaned)) <= 0.5]
print(crime_data_cleaned)

           DR_NO               Date Rptd                DATE OCC  TIME OCC  \
0      241711715  08/01/2024 12:00:00 AM  08/01/2024 12:00:00 AM      1319
1      231014031  09/21/2023 12:00:00 AM  09/15/2023 12:00:00 AM      1930
2      231010808  06/27/2023 12:00:00 AM  06/26/2023 12:00:00 AM      1230
3      211410441  04/25/2021 12:00:00 AM  04/25/2021 12:00:00 AM      2330
4      211114569  10/25/2021 12:00:00 AM  10/25/2021 12:00:00 AM      1455
...          ...                     ...                     ...       ...
49995  211415242  07/18/2021 12:00:00 AM  07/18/2021 12:00:00 AM      1651
49996  200905135  01/27/2020 12:00:00 AM  01/25/2020 12:00:00 AM      1100
49997  220711599  07/14/2022 12:00:00 AM  07/13/2022 12:00:00 AM       305
49998  211810785  05/21/2021 12:00:00 AM  05/21/2021 12:00:00 AM       200
49999  241406818  03/02/2024 12:00:00 AM  11/10/2022 12:00:00 AM      1600

       AREA    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0        17   Devonshire         1791         1     440
1        10  West Valley         1011         2     354
2        10  West Valley         1015         2     354
3        14      Pacific         1488         2     626
4        11    Northeast         1123         1     210
...     ...          ...          ...       ...     ...
49995    14      Pacific         1494         2     623
49996     9     Van Nuys          941         1     210
49997     7     Wilshire          721         1     310
49998    18    Southeast         1842         2     626
49999    14      Pacific         1473         1     821

                                             Crm Cd Desc  ... Vict Sex  \
0                     THEFT PLAIN - PETTY ($950 & UNDER)  ...        M
1                                      THEFT OF IDENTITY  ...        F
2                                      THEFT OF IDENTITY  ...        F
3                      INTIMATE PARTNER - SIMPLE ASSAULT  ...        F
4                                                ROBBERY  ...        X
...                                                  ...  ...      ...
49995                            BATTERY POLICE (SIMPLE)  ...        M
49996                                            ROBBERY  ...        M
49997                                           BURGLARY  ...        M
49998                  INTIMATE PARTNER - SIMPLE ASSAULT  ...        F
49999  SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...  ...        F

       Vict Descent Premis Cd                               Premis Desc  \
0                 O     501.0                    SINGLE FAMILY DWELLING
1                 W     501.0                    SINGLE FAMILY DWELLING
2                 O     501.0                    SINGLE FAMILY DWELLING
3                 B     503.0                                     HOTEL
4                 X     412.0  ELECTRONICS STORE (IE:RADIO SHACK, ETC.)
...             ...       ...                                       ...
49995             H     212.0         TRANSPORTATION FACILITY (AIRPORT)
49996             O     124.0                                  BUS STOP
49997             W     203.0                            OTHER BUSINESS
49998             B     101.0                                    STREET
49999             B     501.0                    SINGLE FAMILY DWELLING

       Status   Status Desc Crm Cd 1  \
0          IC   Invest Cont    440.0
1          IC   Invest Cont    354.0
2          IC   Invest Cont    354.0
3          IC   Invest Cont    626.0
4          IC   Invest Cont    210.0
...       ...           ...      ...
49995      AA  Adult Arrest    623.0
49996      IC   Invest Cont    210.0
49997      IC   Invest Cont    310.0
49998      IC   Invest Cont    626.0
49999      IC   Invest Cont    821.0

                                       LOCATION      LAT       LON
0       8300    KELVIN                       AV  34.2200 -118.5863
1      18900    CANTLAY                      ST  34.2023 -118.5458
2       7300    ENFIELD                      AV  34.2033 -118.5241
3       5800 W  CENTURY                      BL  33.9456 -118.3835
4       2900    LOS FELIZ                    BL   0.0000    0.0000
...                                         ...      ...       ...
49995    200    WORLD WAY                    WY  33.9420 -118.4095
49996           SEPULVEDA                    BL  34.1758 -118.4662
49997   8500 W  3RD                          ST  34.0734 -118.3765
49998           IMPERIAL                     HY  33.9310 -118.2739
49999   7400 W  MANCHESTER                   AV  33.9599 -118.4237

[50000 rows x 22 columns]

In [4]:
# --3
crime_data_cleaned["DATE OCC"] = pd.to_datetime(crime_data_cleaned["DATE OCC"], format='%m/%d/%Y %I:%M:%S %p')

crime_data_cleaned["Year"] = crime_data_cleaned["DATE OCC"].dt.year
crime_data_cleaned["Month"] = crime_data_cleaned["DATE OCC"].dt.month
crime_data_cleaned["Day"] = crime_data_cleaned["DATE OCC"].dt.day

crime_data_cleaned["TIME OCC"] = crime_data_cleaned["TIME OCC"].astype(str).str.zfill(4) # make sure it is in a 4 digit format
crime_data_cleaned["HOUR"] = pd.to_datetime(crime_data_cleaned["TIME OCC"], format='%H%M').dt.time

crime_data_cleaned

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Year,Month,Day,HOUR
0,241711715,08/01/2024 12:00:00 AM,2024-08-01,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,8300 KELVIN AV,34.2200,-118.5863,2024,8,1,13:19:00
1,231014031,09/21/2023 12:00:00 AM,2023-09-15,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458,2023,9,15,19:30:00
2,231010808,06/27/2023 12:00:00 AM,2023-06-26,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241,2023,6,26,12:30:00
3,211410441,04/25/2021 12:00:00 AM,2021-04-25,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,5800 W CENTURY BL,33.9456,-118.3835,2021,4,25,23:30:00
4,211114569,10/25/2021 12:00:00 AM,2021-10-25,1455,11,Northeast,1123,1,210,ROBBERY,...,IC,Invest Cont,210.0,2900 LOS FELIZ BL,0.0000,0.0000,2021,10,25,14:55:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,211415242,07/18/2021 12:00:00 AM,2021-07-18,1651,14,Pacific,1494,2,623,BATTERY POLICE (SIMPLE),...,AA,Adult Arrest,623.0,200 WORLD WAY WY,33.9420,-118.4095,2021,7,18,16:51:00
49996,200905135,01/27/2020 12:00:00 AM,2020-01-25,1100,9,Van Nuys,941,1,210,ROBBERY,...,IC,Invest Cont,210.0,SEPULVEDA BL,34.1758,-118.4662,2020,1,25,11:00:00
49997,220711599,07/14/2022 12:00:00 AM,2022-07-13,0305,7,Wilshire,721,1,310,BURGLARY,...,IC,Invest Cont,310.0,8500 W 3RD ST,34.0734,-118.3765,2022,7,13,03:05:00
49998,211810785,05/21/2021 12:00:00 AM,2021-05-21,0200,18,Southeast,1842,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,IMPERIAL HY,33.9310,-118.2739,2021,5,21,02:00:00
49999,241406818,03/02/2024 12:00:00 AM,2022-11-10,1600,14,Pacific,1473,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,...,IC,Invest Cont,821.0,7400 W MANCHESTER AV,33.9599,-118.4237,2022,11,10,16:00:00

In [5]:
# --4
crime_data_cleaned2 = crime_data_cleaned[crime_data_cleaned['Year'] == 2023]

crime_data_cleaned3 = crime_data_cleaned2[crime_data_cleaned2['Crm Cd Desc'] == 'BURGLARY']

crime_data_cleaned3

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Year,Month,Day,HOUR
47,231107877,04/15/2023 12:00:00 AM,2023-01-15,0500,11,Northeast,1151,1,310,BURGLARY,...,IC,Invest Cont,310.0,5000 W SUNSET BL,34.0981,-118.2983,2023,1,15,05:00:00
147,231912840,08/15/2023 12:00:00 AM,2023-08-14,2200,19,Mission,1962,1,310,BURGLARY,...,IC,Invest Cont,310.0,15000 CORE LN,34.2424,-118.4596,2023,8,14,22:00:00
292,230813484,08/19/2023 12:00:00 AM,2023-08-19,0510,8,West LA,857,1,310,BURGLARY,...,IC,Invest Cont,310.0,9400 W PICO BL,34.0553,-118.3943,2023,8,19,05:10:00
317,230126836,12/20/2023 12:00:00 AM,2023-12-10,1200,1,Central,154,1,310,BURGLARY,...,IC,Invest Cont,310.0,100 E 6TH ST,34.0460,-118.2493,2023,12,10,12:00:00
326,231506351,02/26/2023 12:00:00 AM,2023-02-22,1230,15,N Hollywood,1562,1,310,BURGLARY,...,IC,Invest Cont,310.0,4400 BABCOCK AV,34.1504,-118.4063,2023,2,22,12:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49845,231606276,03/14/2023 12:00:00 AM,2023-03-14,0001,16,Foothill,1677,1,310,BURGLARY,...,IC,Invest Cont,310.0,7800 SHADYCOVE AV,34.2130,-118.3442,2023,3,14,00:01:00
49850,230811878,07/13/2023 12:00:00 AM,2023-06-23,1200,8,West LA,807,1,310,BURGLARY,...,IC,Invest Cont,310.0,1800 CALGARY LN,34.1044,-118.4448,2023,6,23,12:00:00
49874,231320692,11/16/2023 12:00:00 AM,2023-11-11,1600,13,Newton,1303,1,310,BURGLARY,...,IC,Invest Cont,310.0,500 E 9TH ST,34.0388,-118.2519,2023,11,11,16:00:00
49922,231515412,09/28/2023 12:00:00 AM,2023-09-26,1530,15,N Hollywood,1547,1,310,BURGLARY,...,IC,Invest Cont,310.0,11400 ALBERS ST,34.1705,-118.3790,2023,9,26,15:30:00
49990,230500901,11/12/2023 12:00:00 AM,2023-11-12,1315,5,Harbor,515,1,310,BURGLARY,...,IC,Invest Cont,310.0,1500 BAY VIEW AV,33.7929,-118.2710,2023,11,12,13:15:00

In [12]:
# --5
crime_data_cleaned.groupby("AREA NAME")["Vict Age"].agg(['size', "mean"]).sort_values('size', ascending=False)

             size       mean
AREA NAME
Central      3517  28.481376
77th Street  3115  29.151525
Pacific      3004  28.978029
Southwest    2831  29.048040
Hollywood    2556  28.331377
Newton       2537  25.054789
Olympic      2523  27.732858
N Hollywood  2503  28.346784
Southeast    2459  28.362749
Rampart      2388  26.273451
Wilshire     2379  29.595628
West LA      2249  30.307248
Van Nuys     2162  31.748381
West Valley  2114  30.640492
Northeast    2103  28.732763
Topanga      2076  34.018786
Harbor       2052  26.983918
Devonshire   2031  29.597735
Mission      1933  29.609415
Hollenbeck   1843  26.158437
Foothill     1625  30.511385

--PART2:

In [13]:
#--1
crime_data_cleaned.groupby("Crm Cd Desc").size().sort_values(ascending=False)[:3]

Crm Cd Desc
VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
dtype: int64

In [14]:
#--2
crime_data_cleaned.groupby("TIME OCC").size()

TIME OCC
0001    860
0002     10
0003      6
0004     12
0005    172
       ...
2355     58
2356      5
2357      2
2358      1
2359     32
Length: 1394, dtype: int64

In [15]:
#--3
crime_data_cleaned.groupby("Vict Sex")["Vict Age"].agg(["size", "mean"])

           size       mean
Vict Sex
F         17922  38.164156
H             3  36.333333
M         20076  37.165621
X          4836   2.672043

--PART4:

In [23]:
crime_data2 = crime_data.copy()

def calculate_severity(x):
    score = 0
    if not pd.isna(x["Weapon Used Cd"]):
        score+=5
    if x["Crm Cd Desc"] == "BURGLARY":
        score+=3
    if score == 0:
        score+=1
    return score


crime_data2["Severity Score"] =  crime_data2.apply(calculate_severity, axis=1)

crime_data2.groupby("AREA NAME")["Severity Score"].sum()

AREA NAME
77th Street    9298
Central        8625
Devonshire     4510
Foothill       3856
Harbor         4949
Hollenbeck     4454
Hollywood      6707
Mission        4499
N Hollywood    5476
Newton         6815
Northeast      4476
Olympic        6275
Pacific        6652
Rampart        6267
Southeast      7162
Southwest      7029
Topanga        4541
Van Nuys       4751
West LA        4763
West Valley    4994
Wilshire       5212
Name: Severity Score, dtype: int64